<h1>Create user Page</h1>
<form action="/admin/create-user" method="POST">
  <label for=""
    >Email
    <input type="text" name="email" required />
  </label>
  <label for=""
    >Password
    <input type="text" name="password" />
  </label>
  <label for="">
    <input type="submit" value="submit" class="btn btn-primary" />
  </label>
</form>
