<form action="/admin/edit-user" method="POST">
  <% data.forEach((item)=>{%>
  <label for="">
    <input type="text" name="dbId" value="<%= item._id %>" />
  </label>
  <label for=""
    >Email
    <input type="email" name="email" value="<%= item.email %>" />
  </label>
  <label for=""
    >Password
    <input type="text" name="password" value="<%= item.password %>" />
  </label>
  <% }) %>
  <input type="submit" value="submit" class="btn btn-primary" />
</form>
